{% extends 'base.html' %}

{% block title %}Add Tag{% endblock %}

{% block content %}
<h1>Create a Tag</h1>
<form method="POST" action="/tags/new">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter a name for the tag">
        <a href="/tags" class="btn btn-outline-primary">Cancel</a>
        <button type="submit" class="btn btn-success">Add</button>
    </div>
    <br>
    <div>
        <b>Add tag to:</b>
        {% for post in posts %}
        <div>
            <input type="checkbox"
                    value="{{ post.id }}"
                    id="post_{{ post.id }}"
                    name="posts">
            <label for="post_{{ post.id }}">{{ post.title }}</label>
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}